name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:

  build:
    name: Build and test
    runs-on: ubuntu-latest

    services:
      splunk:
        image: splunk/splunk:latest
        env:
          SPLUNK_START_ARGS: --accept-license
          SPLUNK_PASSWORD: password
        ports:
          - 8000:8000
          - 8089:8089

    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ^1.17
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Build
      run: go build -v .

    - uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.1.7"
    - run: terraform init -chdir=terraform
    - run: terraform apply -chdir=terraform --auto-approve

    - name: Test
      run: TF_ACC=1 SPLUNK_HOME=/opt/splunk SPLUNK_URL=localhost:8089 SPLUNK_USERNAME=admin SPLUNK_PASSWORD=password go test ./... -v
